.panel {
  position: absolute;
  top: 20vh;
  left: 20vw;
  background: navy;
  color: white;
  display: inline-block;
  padding: 20px 10px;
  border-radius: 10px;
  /* font-family: 'Lobster', cursive; */
  font-family: 'Ultra';
  line-height: 200%;
  border: 1px solid black;
  /* box-shadow: 0px 0px 1px rgba(0,0,0, 1); */
}

.b1 {
  font-size: 48px;
  text-align: center;
  /* font-family: "Fredoka One";   */
}

.b2 {
  font-size: 30px;
  padding-left: 30px;
}

.b3 {
  font-size: 25px;
  line-height: 70%;
  text-align: center;
}
