
.icon-up-big:before { content: '\e800'; } /* '' */
.icon-eject:before { content: '\e801'; } /* '' */
.icon-chart-bar:before { content: '\e802'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-thermometer-0:before { content: '\f2cb'; } /* '' */