
.icon-search:before { content: '\e800'; } /* '' */
.icon-comment:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-lock-open:before { content: '\e809'; } /* '' */
.icon-location:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-block:before { content: '\e80c'; } /* '' */
.icon-globe:before { content: '\e80d'; } /* '' */
.icon-umbrella:before { content: '\e80e'; } /* '' */
.icon-attention:before { content: '\e80f'; } /* '' */
.icon-tags:before { content: '\e810'; } /* '' */
.icon-users:before { content: '\e811'; } /* '' */
.icon-link:before { content: '\e812'; } /* '' */
.icon-down-big:before { content: '\e813'; } /* '' */
.icon-left-big:before { content: '\e814'; } /* '' */
.icon-right-big:before { content: '\e815'; } /* '' */
.icon-up-big:before { content: '\e816'; } /* '' */
.icon-off:before { content: '\e817'; } /* '' */
.icon-basket:before { content: '\e818'; } /* '' */
.icon-cloud:before { content: '\e819'; } /* '' */
.icon-guidedog:before { content: '\e81a'; } /* '' */
.icon-resize-full:before { content: '\e81b'; } /* '' */
.icon-up-open:before { content: '\e81c'; } /* '' */
.icon-up-dir:before { content: '\e81d'; } /* '' */
.icon-cloud-1:before { content: '\e81e'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-h-sigh:before { content: '\f0fd'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-weibo:before { content: '\f18a'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-wheelchair-alt:before { content: '\f29b'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */